.header {
  border-bottom: 2px solid $color-gray;
  font-size: 0.5rem;
  margin: 0 $thumb-list-margin + $thumb-margin;
  padding: 1em 0;

  h1,
  div,
  input {
    display: inline;

    & input {
      border: 0;
      border-bottom: 0.1em dotted $color-black;
      font-size: 1em;
      height: 2em;
      left: 0;
      margin: 0 1em;
      padding: 0.5em;
      position: relative;
      top: -0.2em;
      width: 20em;
    }
  }

  @media screen and (min-width: $breakpoint) {
    font-size: 1rem;
  }
}

.message {
  margin: 30vh auto;
  max-width: 80%;
  min-width: 10rem;
  text-align: center;
}

.thumbs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: $thumb-list-margin;
  padding: 0;
}

.thumb {
  background-color: $color-gray;
  height: $thumb-size-s;
  margin: $thumb-margin;
  position: relative;
  width: $thumb-size-s;

  div {
    align-items: center;
    display: flex;
    height: $thumb-size-s;
    justify-content: center;
    left: 0;
    position: absolute;
    text-shadow: 1px 1px 5px $color-white;
    top: 0;
    width: $thumb-size-s;

    @media screen and (min-width: $breakpoint) {
      height: $thumb-size-m;
      width: $thumb-size-m;
    }
  }

  @media screen and (min-width: $breakpoint) {
    height: $thumb-size-m;
    width: $thumb-size-m;
  }
}
