$breakpoint: 32.1rem;
$max-width: 62.06rem;

$font-weight: 300;

$color-black: black;
$color-gray: lightgray;
$color-white: white;

$thumb-size-s: 75px;
$thumb-size-m: 150px;

$thumb-margin: 0.3rem;
$thumb-list-margin: 1.1rem;
